CMakeLists.txt.user
build/
html/
man/
sanity/
unity_test.*/
integration.*/
*.swp
.idea
.vscode
.nul.old

zephyr/
net-tools/
.west/
modules/
config
tags
TAGS
.ccls-cache/**
scripts/m

src/_fake.c
*.tex

*cscope.out
gdb_test.br
.ccls
tags
flash.bin
.pdb-project.org