CMakeLists.txt.user
build/
html/
man/
sanity/
unity_test.*/
integration.*/
*.swp
.idea
.vscode
.nul.old

net-tools/
.west/
modules/
config
tags
TAGS
.ccls-cache/**
scripts/m

src/_fake.c
*.tex

*cscope.out
gdb_test.br
.ccls
tags
flash.bin
.pdb-project.org
generated/*
tags.lock
.zeta-project.org

dist/
zeta_cli.egg-info/
venv/
__pycache__/
.mypy_cache/
.clangd/
compile_commands.json
yapf5LaQIa.py